

<main class="container">
   <div id="rowProducts" class="row- dflex d-flex justify-content-between">

   </div>
</main>

<script src="/src/utils/socket.io.js"></script>
<script src="../public/js/index.js"></script>
